.cart{
    padding: 60px 20px 25px 20px;
    width: 300px;
    height: 250px;
    border-radius:45px;
    background-color: #FFFFFF;
    margin: auto;
    margin-top: 35px;
    box-shadow: 2px 11px 16px rgba(100, 105, 108, 0.24);
}
.cart__title{
    display: block;
    font-weight: 500;
    font-size: 22px;
    text-align: end;
    line-height: 26px;
    text-transform: uppercase;
    height:3rem;
}
.cart a{
    text-decoration: none;
    color: black;
}

.cart__icon{
    margin-left: 5px;
    margin-top: 2rem;
}
